<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fyp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>

    <div class="h0">
        <div id="h4">
        <img id="h3" src="{{ url_for('static', filename='img/logo.png') }}" >
         </div>
         <div id="h5" >

        <a id="h2" href="/home">Home</a>
        <a id="h2" href="/">Error detection</a>
        <a id="h2" href="/aboutus">About us</a>
        <a id="h2" href="/signup">Sign up</a>
       
        <a style="background-color:  #2EA99F;padding: 10px;border: none;" id="h2" href="/signin">Sign in</a>
       


    
    </div>

    </div>


    <div style="margin: 100px;">

    
    <h1 id="h00111">Welcome to SemanticErrorDetection</h1>
    <br>
    <p style="margin-top: 100;text-align: left;">At SemanticErrorDetection, we are passionate about enhancing the accuracy and clarity of written communication through advanced natural language processing (NLP) and ontology techniques. Our mission is to empower users to produce error-free text that effectively conveys their intended message.</p>
    
    <h3 id="h00" style="color: white;margin-top: 20px;" >Our Team</h3>
    <p  style="margin-top: -2px;text-align: left;margin-top: 10px;">Our team consists of dedicated professionals with expertise in NLP, ontology, and web development. We bring together a diverse range of skills and experiences to create innovative solutions for semantic error detection and correction.</p>
    <ul style="color: white; margin-top: 10px;">
        <li><strong>Hajra Hassan</strong>: NLP Expert</li>
        <li><strong>Hamza Iftikhar</strong>: Ontology Specialist</li>
        <li><strong>Hamza Jamil</strong>: Web Developer</li>
    </ul>
    
    <h3 style="color: white;margin-top: 20px;" >Our Approach</h3>
    <br>
    <p style="margin-top: -2px;text-align: left;margin-top: 10px;" >At SemanticErrorDetect.com, we leverage cutting-edge NLP algorithms and ontology frameworks to analyze text and identify semantic errors. Our system is designed to automatically detect and correct sentences that are grammatically incorrect or semantically nonsensical, ensuring that users can communicate with clarity and precision.</p>
    <br>
    <h3  style="color: white;margin-top: 20px;">How It Works</h3>
    <br>
    <p style="margin-top: -2px;text-align: left;margin-top: 10px;">Our semantic error detection system carefully examines each sentence for semantic inconsistencies, such as incorrect word usage or conflicting information. By analyzing the context and meaning of the text, we are able to identify and rectify errors, ensuring that the final output is coherent and accurate.</p>
    <br>
    
    <h3 style="color: white;margin-top: 20px;" >Our Vision</h3>
    <br>
    <p style="margin-top: -2px;text-align: left;margin-top: 10px;" >Looking ahead, we envision SemanticErrorDetection.com as a leading platform for semantic error detection and correction. We are committed to continuously improving our technology and expanding our capabilities to meet the evolving needs of our users.</p>
    
    <h3 style="color: white;margin-top: 20px;" >Get in Touch</h3>
    <p style="margin-top: -2px;text-align: left;margin-top: 10px;"  >We value your feedback and suggestions! If you have any questions, comments, or inquiries, please don't hesitate to contact us at <a href="mailto:contact@semanticerrordetection.com">contact@semanticerrordetection.com</a>  We'd love to hear from you.</p>
    
   
    </div>


    
    <br>
    <br>
    <br>

    <footer>
     <div class="footer-container">
       <div class="footer-column">
         <h3>About Us</h3>
         <p>"Empower your written communication with SemanticSense – harnessing NLP and ontology for seamless semantic error detection and correction."</p>
       </div>
       <div class="footer-column">
         <h3>Useful Links</h3>
         <ul>
          <li><a href="/home">Home</a></li>
            <li><a href="/">Error Detection</a></li>
            <li><a href="/aboutus">About us </a></li>
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/terms">Terms and Condition </a></li>
         </ul>
       </div>
       <div class="footer-column">
         <h3>Contact Us</h3>
         <a href="mailto:contact@semanticerrordetection.com">contact@semanticerrordetection.com</a>
         
       </div>
       <div class="footer-column">
         
         <img style="width: 70px;" src="{{ url_for('static', filename='img/logo.png') }}" alt="Company Logo">
       </div>
     </div>
   </footer>
</body>
</html>





  

    




</body>
</html>